/*
    Aprendendo a usar CSS
    Copia não comédia
*/

/*TAGS*/
h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 38pt;
    color: chartreuse;
    background-color: brown;     
}

body{
    background-color: blueviolet;
}

*{
    margin: 0;
    padding: 0;
}

header{
    background-color: green;
    height: 100px;
}


footer{
    clear: both;
    height: 30px;
}

/*CLASS*/
.container{
    width: 960px;
    margin: auto;
}

/*IDS*/
#div_esq{
    background-color: aquamarine;
    min-height: 200px;
    width: 70%;
    float: left;
}

#div_dir{
    background-color: chocolate;
    min-height: 200px;
    width: 30%;
    float: right;
}