/*
    Aprendendo a usar CSS
    Copia não comédia
*/

h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 38pt;
    color: chartreuse;
    background-color: brown;     
}

body{
    background-color: blueviolet;
}

*{
    margin: 0;
    padding: 0;
}